<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminIdOverlap">
        SELECT
               A.ADMIN_ID
          FROM MG_ADMIN A     
         WHERE A.ADMIN_ID = ?      
	</entry>
	<entry key="insertAdmin">
INSERT INTO MG_ADMIN
 (ADMIN_NO, ADMIN_NAME, ADMIN_ID, ADMIN_PWD, ADMIN_PNO, EMAIL)
VALUES
 (SEQ_ADMIN_NO.NEXTVAL, ?, ?, ?, ?, ?)
	</entry>
	<entry key="selectAdminPwd">
	    SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectEncryptPwd() */
	           A.ADMIN_PWD
	      FROM MG_ADMIN A
	     WHERE A.ADMIN_STATUS = 'Y'
	       AND A.ADMIN_ID = ?
	</entry>
	<entry key="selectLoginAdmin">
		SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectLoginMember() */
		       A.ADMIN_NO
		     , A.ADMIN_NAME
		     , A.ADMIN_ID
		     , A.ADMIN_PNO
		     , A.EMAIL
		     , A.ENROLL_DATE
		     , A.ADMIN_STATUS
	      FROM MG_ADMIN A
		 WHERE A.ADMIN_STATUS = 'Y'
		   AND A.ADMIN_ID = ?  
	</entry>
	<entry key="insertNotice">
        INSERT
          INTO MG_NOTICE A
        (
          A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_BODY
        , A.NOTICE_WRITER_MEMBER_NO
        , A.NOTICE_GENERAL
        , A.NOTICE_GENERAL_TYPE
        )
        VALUES
        (
          SEQ_NOTICE_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="incrementNoticeCount">
        UPDATE
               MG_NOTICE A
           SET A.NOTICE_COUNT = (SELECT B.NOTICE_COUNT
                                   FROM MG_NOTICE B
                                  WHERE B.NOTICE_NO = ?
                                ) + 1
         WHERE A.NOTICE_NO = ?
	</entry>
	<entry key="selectNoticeDetail">
        SELECT
               A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , C.ATTACHMENT_NO
             , C.ORIGINAL_NAME
             , C.SAVED_NAME
             , C.SAVE_PATH
             , C.FILE_TYPE
             , C.THUMBNAIL_PATH
          FROM MG_NOTICE A
          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND A.NOTICE_NO = ?
	</entry>
	<entry key="selectTotalCount">
		SELECT /**/
		       COUNT(*)
		  FROM MG_NOTICE A
		 WHERE A.NOTICE_DISPLAY = 'Y'
	</entry>
	<entry key="selectNoticeList">
	    SELECT 
               A.RNUM
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
        FROM (SELECT ROWNUM RNUM
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
              FROM (SELECT A.NOTICE_NO
                         , A.NOTICE_TITLE
                         , A.NOTICE_BODY
                         , A.NOTICE_WRITER_MEMBER_NO
                         , B.ADMIN_NAME
                         , A.NOTICE_COUNT
                         , A.CREATED_DATE
                         , A.NOTICE_DISPLAY
                         , A.NOTICE_GENERAL
                         , A.NOTICE_GENERAL_TYPE
                      FROM MG_NOTICE A
                      JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                     WHERE A.NOTICE_DISPLAY = 'Y'
                           ORDER BY A.NOTICE_NO DESC
                          ) B
                    ) A
                    WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="updateNotice">
	        UPDATE
               MG_NOTICE A
           SET A.NOTICE_TITLE = ?
             , A.NOTICE_BODY = ?
         WHERE A.NOTICE_NO = ?
           AND A.NOTICE_WRITER_MEMBER_NO = ?
	</entry>
	<entry key="selectNoticeSequence">
        SELECT
               SEQ_NOTICE_NO.CURRVAL
          FROM DUAL    
	</entry>
	<entry key="insertAttaNotice">
        INSERT
          INTO MG_NOTI_ATTACHMENT A
        (
          A.ATTACHMENT_NO
        , A.REF_NOTI_NO
        , A.ORIGINAL_NAME
        , A.SAVED_NAME
        , A.SAVE_PATH
        , A.FILE_TYPE
        , A.THUMBNAIL_PATH  
        )
        VALUES
        (
          SEQ_NOTI_ATTACHMENT_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        ) 
	</entry>
	<entry key="searchTotalWriter">
        SELECT
               COUNT(*)
          FROM MG_NOTICE A
          JOIN MG_ADMIN B ON(A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND B.ADMIN_NAME LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchTotalTitle">
        SELECT
               COUNT(*)
          FROM MG_NOTICE A
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND A.NOTICE_TITLE LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchTotalBody">
        SELECT
               COUNT(*)
          FROM MG_NOTICE A
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND A.NOTICE_BODY LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchTotalGeneral">
        SELECT
               COUNT(*)
          FROM MG_NOTICE A
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND A.NOTICE_GENERAL LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchTotalGeneralType">
        SELECT
               COUNT(*)
          FROM MG_NOTICE A
         WHERE A.NOTICE_DISPLAY = 'Y'
           AND A.NOTICE_GENERAL_TYPE LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchNoticeListWriter">
        SELECT 
               A.RNUM     
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , A.REF_NOTI_NO
        FROM (SELECT ROWNUM RNUM     
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
                   , B.REF_NOTI_NO
              FROM (SELECT C.NOTICE_NO
                         , C.NOTICE_TITLE
                         , C.NOTICE_BODY
                         , C.NOTICE_WRITER_MEMBER_NO
                         , C.ADMIN_NAME
                         , C.NOTICE_COUNT
                         , C.CREATED_DATE
                         , C.NOTICE_DISPLAY
                         , C.NOTICE_GENERAL
                         , C.NOTICE_GENERAL_TYPE
                         , C.REF_NOTI_NO
                    FROM (SELECT A.NOTICE_NO
                               , A.NOTICE_TITLE
                               , A.NOTICE_BODY
                               , A.NOTICE_WRITER_MEMBER_NO
                               , B.ADMIN_NAME
                               , A.NOTICE_COUNT
                               , A.CREATED_DATE
                               , A.NOTICE_DISPLAY
                               , A.NOTICE_GENERAL
                               , A.NOTICE_GENERAL_TYPE
                               , C.REF_NOTI_NO
                          FROM MG_NOTICE A
                          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
                         WHERE A.NOTICE_DISPLAY = 'Y'
                           AND B.ADMIN_NAME LIKE '%' || ? || '%'
                         GROUP BY (A.NOTICE_NO
                                 , A.NOTICE_TITLE
                                 , A.NOTICE_BODY
                                 , A.NOTICE_WRITER_MEMBER_NO
                                 , B.ADMIN_NAME
                                 , A.NOTICE_COUNT
                                 , A.CREATED_DATE
                                 , A.NOTICE_DISPLAY
                                 , A.NOTICE_GENERAL
                                 , A.NOTICE_GENERAL_TYPE
                                 , C.REF_NOTI_NO)
                         ) C
          ORDER BY NOTICE_NO DESC
                   ) B
             ) A
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchNoticeListTitle">
        SELECT 
               A.RNUM     
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , A.REF_NOTI_NO
        FROM (SELECT ROWNUM RNUM     
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
                   , B.REF_NOTI_NO
              FROM (SELECT C.NOTICE_NO
                         , C.NOTICE_TITLE
                         , C.NOTICE_BODY
                         , C.NOTICE_WRITER_MEMBER_NO
                         , C.ADMIN_NAME
                         , C.NOTICE_COUNT
                         , C.CREATED_DATE
                         , C.NOTICE_DISPLAY
                         , C.NOTICE_GENERAL
                         , C.NOTICE_GENERAL_TYPE
                         , C.REF_NOTI_NO
                    FROM (SELECT A.NOTICE_NO
                               , A.NOTICE_TITLE
                               , A.NOTICE_BODY
                               , A.NOTICE_WRITER_MEMBER_NO
                               , B.ADMIN_NAME
                               , A.NOTICE_COUNT
                               , A.CREATED_DATE
                               , A.NOTICE_DISPLAY
                               , A.NOTICE_GENERAL
                               , A.NOTICE_GENERAL_TYPE
                               , C.REF_NOTI_NO
                          FROM MG_NOTICE A
                          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
                         WHERE A.NOTICE_DISPLAY = 'Y'
                           AND A.NOTICE_TITLE LIKE '%' || ? || '%'
                         GROUP BY (A.NOTICE_NO
                                 , A.NOTICE_TITLE
                                 , A.NOTICE_BODY
                                 , A.NOTICE_WRITER_MEMBER_NO
                                 , B.ADMIN_NAME
                                 , A.NOTICE_COUNT
                                 , A.CREATED_DATE
                                 , A.NOTICE_DISPLAY
                                 , A.NOTICE_GENERAL
                                 , A.NOTICE_GENERAL_TYPE
                                 , C.REF_NOTI_NO)
                         ) C
          ORDER BY NOTICE_NO DESC
                   ) B
             ) A
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchNoticeListBody">
        SELECT 
               A.RNUM     
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , A.REF_NOTI_NO
        FROM (SELECT ROWNUM RNUM     
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
                   , B.REF_NOTI_NO
              FROM (SELECT C.NOTICE_NO
                         , C.NOTICE_TITLE
                         , C.NOTICE_BODY
                         , C.NOTICE_WRITER_MEMBER_NO
                         , C.ADMIN_NAME
                         , C.NOTICE_COUNT
                         , C.CREATED_DATE
                         , C.NOTICE_DISPLAY
                         , C.NOTICE_GENERAL
                         , C.NOTICE_GENERAL_TYPE
                         , C.REF_NOTI_NO
                    FROM (SELECT A.NOTICE_NO
                               , A.NOTICE_TITLE
                               , A.NOTICE_BODY
                               , A.NOTICE_WRITER_MEMBER_NO
                               , B.ADMIN_NAME
                               , A.NOTICE_COUNT
                               , A.CREATED_DATE
                               , A.NOTICE_DISPLAY
                               , A.NOTICE_GENERAL
                               , A.NOTICE_GENERAL_TYPE
                               , C.REF_NOTI_NO
                          FROM MG_NOTICE A
                          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
                         WHERE A.NOTICE_DISPLAY = 'Y'
                           AND A.NOTICE_BODY LIKE '%' || ? || '%'
                         GROUP BY (A.NOTICE_NO
                                 , A.NOTICE_TITLE
                                 , A.NOTICE_BODY
                                 , A.NOTICE_WRITER_MEMBER_NO
                                 , B.ADMIN_NAME
                                 , A.NOTICE_COUNT
                                 , A.CREATED_DATE
                                 , A.NOTICE_DISPLAY
                                 , A.NOTICE_GENERAL
                                 , A.NOTICE_GENERAL_TYPE
                                 , C.REF_NOTI_NO)
                         ) C
          ORDER BY NOTICE_NO DESC
                   ) B
             ) A
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchNoticeListGeneral">
        SELECT 
               A.RNUM     
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , A.REF_NOTI_NO
        FROM (SELECT ROWNUM RNUM     
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
                   , B.REF_NOTI_NO
              FROM (SELECT C.NOTICE_NO
                         , C.NOTICE_TITLE
                         , C.NOTICE_BODY
                         , C.NOTICE_WRITER_MEMBER_NO
                         , C.ADMIN_NAME
                         , C.NOTICE_COUNT
                         , C.CREATED_DATE
                         , C.NOTICE_DISPLAY
                         , C.NOTICE_GENERAL
                         , C.NOTICE_GENERAL_TYPE
                         , C.REF_NOTI_NO
                    FROM (SELECT A.NOTICE_NO
                               , A.NOTICE_TITLE
                               , A.NOTICE_BODY
                               , A.NOTICE_WRITER_MEMBER_NO
                               , B.ADMIN_NAME
                               , A.NOTICE_COUNT
                               , A.CREATED_DATE
                               , A.NOTICE_DISPLAY
                               , A.NOTICE_GENERAL
                               , A.NOTICE_GENERAL_TYPE
                               , C.REF_NOTI_NO
                          FROM MG_NOTICE A
                          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
                         WHERE A.NOTICE_DISPLAY = 'Y'
                           AND A.NOTICE_GENERAL LIKE '%' || ? || '%'
                         GROUP BY (A.NOTICE_NO
                                 , A.NOTICE_TITLE
                                 , A.NOTICE_BODY
                                 , A.NOTICE_WRITER_MEMBER_NO
                                 , B.ADMIN_NAME
                                 , A.NOTICE_COUNT
                                 , A.CREATED_DATE
                                 , A.NOTICE_DISPLAY
                                 , A.NOTICE_GENERAL
                                 , A.NOTICE_GENERAL_TYPE
                                 , C.REF_NOTI_NO)
                         ) C
          ORDER BY NOTICE_NO DESC
                   ) B
             ) A
       WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchNoticeListGeneralType">
        SELECT 
               A.RNUM     
             , A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , A.ADMIN_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
             , A.NOTICE_DISPLAY
             , A.NOTICE_GENERAL
             , A.NOTICE_GENERAL_TYPE
             , A.REF_NOTI_NO
        FROM (SELECT ROWNUM RNUM     
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_BODY
                   , B.NOTICE_WRITER_MEMBER_NO
                   , B.ADMIN_NAME
                   , B.NOTICE_COUNT
                   , B.CREATED_DATE
                   , B.NOTICE_DISPLAY
                   , B.NOTICE_GENERAL
                   , B.NOTICE_GENERAL_TYPE
                   , B.REF_NOTI_NO
              FROM (SELECT C.NOTICE_NO
                         , C.NOTICE_TITLE
                         , C.NOTICE_BODY
                         , C.NOTICE_WRITER_MEMBER_NO
                         , C.ADMIN_NAME
                         , C.NOTICE_COUNT
                         , C.CREATED_DATE
                         , C.NOTICE_DISPLAY
                         , C.NOTICE_GENERAL
                         , C.NOTICE_GENERAL_TYPE
                         , C.REF_NOTI_NO
                    FROM (SELECT A.NOTICE_NO
                               , A.NOTICE_TITLE
                               , A.NOTICE_BODY
                               , A.NOTICE_WRITER_MEMBER_NO
                               , B.ADMIN_NAME
                               , A.NOTICE_COUNT
                               , A.CREATED_DATE
                               , A.NOTICE_DISPLAY
                               , A.NOTICE_GENERAL
                               , A.NOTICE_GENERAL_TYPE
                               , C.REF_NOTI_NO
                          FROM MG_NOTICE A
                          JOIN MG_ADMIN B ON (A.NOTICE_WRITER_MEMBER_NO = B.ADMIN_NO)
                          LEFT JOIN MG_NOTI_ATTACHMENT C ON (A.NOTICE_NO = C.REF_NOTI_NO)
                         WHERE A.NOTICE_DISPLAY = 'Y'
                           AND A.NOTICE_GENERAL_TYPE LIKE '%' || ? || '%'
                         GROUP BY (A.NOTICE_NO
                                 , A.NOTICE_TITLE
                                 , A.NOTICE_BODY
                                 , A.NOTICE_WRITER_MEMBER_NO
                                 , B.ADMIN_NAME
                                 , A.NOTICE_COUNT
                                 , A.CREATED_DATE
                                 , A.NOTICE_DISPLAY
                                 , A.NOTICE_GENERAL
                                 , A.NOTICE_GENERAL_TYPE
                                 , C.REF_NOTI_NO)
                         ) C
          ORDER BY NOTICE_NO DESC
                   ) B
             ) A
       WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>