<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertAnswer">
        INSERT
          INTO MG_QNA A
        (
          A.QNA_NO
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_WRITER_MEMBER_NO
        , A.QNA_STATUS
        , A.CATEGORY_CODE
        )
        VALUES
        (
          SEQ_QNA_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="incrementAnswerCount">
        UPDATE
               MG_QNA A
           SET A.QNA_COUNT = (SELECT B.QNA_COUNT
                                   FROM MG_QNA B
                                  WHERE B.QNA_NO = ?
                                ) + 1
         WHERE A.QNA_NO = ?
	</entry>
	<entry key="selectAnswerDetail">
        SELECT
               A.QNA_NO
             , A.QNA_STATUS
             , C.CATEGORY_NAME
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , B.MEMBER_NAME
             , A.QNA_COUNT
             , A.CREATED_DATE
          FROM MG_QNA A
          JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
          JOIN MG_QNA_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)
         WHERE A.QNA_DISPLAY = 'Y'
           AND A.QNA_NO = ?
	</entry>
	<entry key="selectTotalCount">
		SELECT /**/
		       COUNT(*)
		  FROM MG_QNA A
		 WHERE A.QNA_DISPLAY = 'Y'
	</entry>
	<entry key="selectAnswerList">
	    SELECT 
               A.RNUM
             , A.QNA_NO
             , A.QNA_STATUS
             , A.CATEGORY_CODE
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , A.MEMBER_NAME
             , A.QNA_COUNT
             , A.CREATED_DATE
             , A.MODIFIED_DATE
             , A.QNA_DISPLAY
        FROM (SELECT ROWNUM RNUM
                   , B.QNA_NO
                   , B.QNA_STATUS
                   , B.CATEGORY_CODE
                   , B.QNA_TITLE
                   , B.QNA_BODY
                   , B.QNA_WRITER_MEMBER_NO
                   , B.MEMBER_NAME
                   , B.QNA_COUNT
                   , B.CREATED_DATE
                   , B.MODIFIED_DATE
                   , B.QNA_DISPLAY
              FROM (SELECT A.QNA_NO
                         , A.QNA_STATUS
                         , A.CATEGORY_CODE
                         , A.QNA_TITLE
                         , A.QNA_BODY
                         , A.QNA_WRITER_MEMBER_NO
                         , B.MEMBER_NAME
                         , A.QNA_COUNT
                         , A.CREATED_DATE
                         , A.MODIFIED_DATE
                         , A.QNA_DISPLAY
                      FROM MG_QNA A
                      JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
                     WHERE A.QNA_DISPLAY = 'Y'
                           ORDER BY A.QNA_NO DESC
                          ) B
                    ) A
                    WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="updateAnswer">
	        UPDATE
               MG_QNA A
           SET A.QNA_TITLE = ?
             , A.QNA_BODY = ?
         WHERE A.QNA_NO = ?
           AND A.QNA_WRITER_MEMBER_NO = ?
	</entry>
</properties>