<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminIdOverlap">
        SELECT
               A.ADMIN_ID
          FROM MG_ADMIN A     
         WHERE A.ADMIN_ID = ?      
	</entry>
	<entry key="insertAdmin">
INSERT INTO MG_ADMIN
 (ADMIN_NO, ADMIN_NAME, ADMIN_ID, ADMIN_PWD, ADMIN_PNO, EMAIL)
VALUES
 (SEQ_ADMIN_NO.NEXTVAL, ?, ?, ?, ?, ?)
	</entry>
	<entry key="selectAdminPwd">
	    SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectEncryptPwd() */
	           A.ADMIN_PWD
	      FROM MG_ADMIN A
	     WHERE A.ADMIN_STATUS = 'Y'
	       AND A.ADMIN_ID = ?
	</entry>
	<entry key="selectLoginAdmin">
		SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectLoginMember() */
		       A.ADMIN_NO
		     , A.ADMIN_NAME
		     , A.ADMIN_ID
		     , A.ADMIN_PNO
		     , A.EMAIL
		     , A.ENROLL_DATE
		     , A.ADMIN_STATUS
	      FROM MG_ADMIN A
		 WHERE A.ADMIN_STATUS = 'Y'
		   AND A.ADMIN_ID = ?  
	</entry>
	<entry key="selectAllNoticeList">
        SELECT	/* com.greedy.jsp.notice.model.dao.NoticeDAO#selectAllNoticeList() */
               A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.MEMBER_NAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
          FROM MG_NOTICE A
          JOIN MG_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.NOTICE_STATUS = 'Y'
         ORDER BY A.NOTICE_NO DESC
	</entry>
	<entry key="insertNotice">
        INSERT
          INTO MG_QNA A
        (
          A.QNA_NO
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_WRITER_MEMBER_NO
        , A.QNA_TYPE
        , A.CATEGORY_CODE
        )
        VALUES
        (
          SEQ_NOTICE_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="incrementNoticeCount">
        UPDATE
               MG_QNA A
           SET A.QNA_COUNT = (SELECT B.QNA_COUNT
                                   FROM MG_QNA B
                                  WHERE B.QNA_NO = ?
                                ) + 1
         WHERE A.QNA_NO = ?
	</entry>
	<entry key="selectNoticeDetail">
        SELECT
               A.QNA_NO
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , B.MEMBER_NAME
             , A.QNA_COUNT
             , A.CREATED_DATE
          FROM MG_QNA A
          JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.QNA_STATUS = 'Y'
           AND A.QNA_NO = ?
	</entry>
	<entry key="selectTotalCount">
		SELECT /**/
		       COUNT(*)
		  FROM MG_QNA A
		 WHERE A.QNA_STATUS = 'Y'
	</entry>
	<entry key="selectNoticeList">
	    SELECT 
               A.RNUM
             , A.QNA_NO
             , A.QNA_TYPE
             , A.CATEGORY_CODE
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , A.MEMBER_NAME
             , A.QNA_COUNT
             , A.CREATED_DATE
             , A.MODIFIED_DATE
             , A.QNA_STATUS
        FROM (SELECT ROWNUM RNUM
                   , B.QNA_NO
                   , B.QNA_TYPE
                   , B.CATEGORY_CODE
                   , B.QNA_TITLE
                   , B.QNA_BODY
                   , B.QNA_WRITER_MEMBER_NO
                   , B.MEMBER_NAME
                   , B.QNA_COUNT
                   , B.CREATED_DATE
                   , B.MODIFIED_DATE
                   , B.QNA_STATUS
              FROM (SELECT A.QNA_NO
                         , A.QNA_TYPE
                         , A.CATEGORY_CODE
                         , A.QNA_TITLE
                         , A.QNA_BODY
                         , A.QNA_WRITER_MEMBER_NO
                         , B.MEMBER_NAME
                         , A.QNA_COUNT
                         , A.CREATED_DATE
                         , A.MODIFIED_DATE
                         , A.QNA_STATUS
                      FROM MG_QNA A
                      JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
                     WHERE A.QNA_STATUS = 'Y'
                           ORDER BY A.QNA_NO DESC
                          ) B
                    ) A
                    WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="updateNotice">
	        UPDATE
               MG_QNA A
           SET A.QNA_TITLE = ?
             , A.QNA_BODY = ?
         WHERE A.QNA_NO = ?
           AND A.QNA_WRITER_MEMBER_NO = ?
	</entry>
</properties>