@charset "UTF-8";

.container {width: 90%; height: 1200px; padding-top: 50px;}
.container .txt2{text-align: center; }
.container .txt1{color: green; padding-right: 600px; text-align: left; padding: 20px 20px; font-size: 15px;}
.container .required{color: red;}
.container .body_line{border: 1px solid black;}

.container .signup_cate{height: 70px;}

.container .signup_detail .email .email_sel{height: 45px;}

.container .signup_detail{line-height: 40px;}
.container .signup_detail .phone1 .signup_cate_detail .phone_num_sel1{height: 45px;}
.container .signup_detail .phone2 .signup_cate_detail .phone_num_sel2{height: 45px; width: 200px;}

.postal_btn{background-color: blue; color: white; height: 45px; border: 0; border-radius: 5px; outline: none;}
.duplication_check_btn{background-color: blue; color: white; height: 45px; border: 0; border-radius: 5px; outline: none;}
.signup_cate{background-color: whitesmoke; width: 200px; border: 0.5px solid rgb(228, 226, 226); padding: 0 20px;}
.signup_cate_detail{border-bottom: 0.5px solid rgb(228, 226, 226); padding-left: 20px; width: 1500px;}

#zipCode{width:455px;}
#address1{width:455px;}
#address2{width:455px;}

.container .submit_btn{background-color: blue; color: white; height: 60px; width: 300px; display: block; margin: 0 auto; border: 0; border-radius: 5px; outline: none; margin-top: 20px; font-size: 17px;	}