.header_area{}
.header_area .header_menu_area{width: 60%; height: 40px; background-color: lightgray; margin: 0 auto; box-shadow: 0 7px 5px 0 grey;}
.header_area .header_menu_area .row{margin: 0;}
.header_area .header_menu_area .row .header_text1{font-size: 15px; line-height: 40px; width: 20%;  text-align: center; color: dimgray; float: left;}

.header_area .header_menu_area .row .header_menu_list{width: 80%; float:left; padding-right: 40px;}
.header_area .header_menu_area .row .header_menu_list .row{margin: 0;}
.header_area .header_menu_area .row .header_menu_list .row .menu_list{float: right; padding: 0 20px; text-decoration: none; font-size:15px; line-height: 40px; color: dimgray;}

.header_area .logo_area{height: 350px;  position: relative;}
.header_area .logo_area .row{margin: 0;}
.header_area .logo_area .row .logo_img{text-align: center; line-height: 350px;}
.header_area .logo_area .row .logo_img .logo_detail{}

.header_area .header_line{border-bottom: 5px solid lightgray;}

.header_area .menubar_area{height: 70px;  line-height: 70px; border-bottom: 5px solid skyblue;}
.header_area .menubar_area .menubar_list{width: 70%; margin: 0 auto; height: 70px;}
.header_area .menubar_area .menubar_list .row{margin: 0; height: 70px;}
.header_area .menubar_area .menubar_list .row .menubar_btn{height: 70px; width: 70px; text-align: center; background-color:skyblue; float: left;}
.header_area .menubar_area .menubar_list .row .menubar_btn .fa-bars{font-size: 40px; line-height: 70px; color: white;}

.header_area .menubar_area .menubar_list .row .menubar_btn2{float:right; font-size: 28px;  font-weight: bold;  text-decoration: none;  color: black; padding: 0 30px;}

.container {width: 90%; height: 1200px; padding-top: 50px;}
.container .txt2{text-align: center; }
.container .txt1{color: green; padding-right: 600px; padding-top: 50px; padding-bottom: 15px; text-align: left;}
.container .required{color: red;}
.container .body_line{border: 1px solid black;}

.container .signup_detail .name{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .id{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .password{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .check_password{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .gender{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .email{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .postal_code{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .address{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .address_detail{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .phone1{border-bottom: 1px solid dimgrey; height: 70px;}
.container .signup_detail .phone2{height: 70px;}

.container .signup_detail .email .email_sel{height: 45px;}

.container .signup_detail{line-height: 40px;}
.container .signup_detail .phone1 .signup_cate_detail .phone_num_sel1{height: 45px;}
.container .signup_detail .phone2 .signup_cate_detail .phone_num_sel2{height: 45px; width: 200px;}

.btn{background-color: blue; color: white; height: 45px;}
.signup_cate{background-color: whitesmoke; width: 200px; border: 0.5px solid rgb(228, 226, 226);}
.signup_cate_detail{border-bottom: 0.5px solid rgb(228, 226, 226); padding-left: 20px; width: 1500px;}

#zipCode{width:455px;}
#address1{width:455px;}
#address2{width:455px;}

.container .submit_btn{background-color: blue; color: white; height: 60px; width: 300px; margin-left: 40%; margin-top: 30px;}

.footer_line{border-bottom: 5px solid black; margin-bottom: 10px;}

.footer_area{width: 80%; margin: 0 auto;}
.footer_area .row{margin: 0;}
.footer_area .row .img_area{float: left;}

.footer_area .row .text_area{float: left; padding-left: 100px;}
.footer_area .row .text_area .footer_menubar_list{}
.footer_area .row .text_area .footer_menubar_list .row{margin: 0;}
.footer_area .footer_menubar_list .row .footer_menubar_btn{float:right; font-size: 20px;  font-weight: bold;  text-decoration: none;  color: black; padding: 0 30px;}
.footer_area .row .text_area .footer_menubar_list .footer_area_text{text-align: center;}