<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
        INSERT INTO MG_MEMBER 
         (MEMBER_NO, MEMBER_NAME, MEMBER_ID, MEMBER_PWD, MEMBER_PNO, MEMBER_GENDER
         , EMAIL, ADDRESS, PHONE, SUB_PHONE)
        VALUES
         (SEQ_MEMBER_NO.NEXTVAL, ?, ?, ?, ?, ?
         , ?, ?, ?, ?)
	</entry>
	<entry key="selectEncryptPwd">
	    SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectEncryptPwd() */
	           A.MEMBER_PWD
	      FROM MG_MEMBER A
	     WHERE A.MEMBER_STATUS = 'Y'
	       AND A.MEMBER_ID = ?
	</entry>
	<entry key="selectLoginMember">
		SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectLoginMember() */
		       A.MEMBER_NO
		     , A.MEMBER_NAME
		     , A.MEMBER_ID
		     , A.MEMBER_PNO
		     , A.MEMBER_GENDER
		     , A.EMAIL
		     , A.ADDRESS
		     , A.PHONE
		     , A.SUB_PHONE
		     , A.MEMBER_POINT
		     , A.ENROLL_DATE
		     , A.MODIFIED_DATE
		     , A.CHECK_BLACKLIST
		     , A.MEMBER_STATUS
	      FROM MG_MEMBER A
		 WHERE A.MEMBER_STATUS = 'Y'
		   AND A.MEMBER_ID = ?  
	</entry>
	<!-- <entry key="selectMemberId">
	    SELECT
               A.MEMBER_ID
         FROM MG_MEMBER A
        WHERE A.MEMBER_NAME = ?
          AND A.PHONE = ?   
	</entry> -->
	<entry key="selectMemberInfo">
       SELECT
               A.MEMBER_ID
             , A.MEMBER_NAME
         FROM MG_MEMBER A
        WHERE A.MEMBER_NAME = ?
          AND A.PHONE = ?       
               	
	</entry>
	<entry key="selectMemberName">
	  SELECT
               A.MEMBER_NAME
         FROM MG_MEMBER A
        WHERE A.MEMBER_ID = ?
	</entry>
	<entry key="findPwd">
	  SELECT 
	  	     A.MEMBER_NO
           , A.MEMBER_PWD
        FROM MG_MEMBER A
       WHERE A.MEMBER_ID = ?
         AND A.MEMBER_NAME= ?
         AND A.PHONE = ?
         AND A.EMAIL = ?
	</entry>
	
	<entry key="updatePwd">
        UPDATE
              MG_MEMBER A
            SET A.MEMBER_PWD = ?
          WHERE A.PHONE = ?
	</entry>
</properties>