<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertMember">
        INSERT INTO MG_MEMBER 
         (MEMBER_NO, MEMBER_NAME, MEMBER_ID, MEMBER_PWD, MEMBER_PNO, MEMBER_GENDER
         , EMAIL, ADDRESS, PHONE, SUB_PHONE)
        VALUES
         (SEQ_MEMBER_NO.NEXTVAL, ?, ?, ?, ?, ?
         , ?, ?, ?, ?)
	</entry>
	<entry key="selectEncryptPwd">
	    SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectEncryptPwd() */
	           A.MEMBER_PWD
	      FROM MG_MEMBER A
	     WHERE A.MEMBER_STATUS = 'Y'
	       AND A.MEMBER_ID = ?
	</entry>
	<entry key="selectLoginMember">
		SELECT /* com.greedy.jsp.member.model.dao.MemberDAO#selectLoginMember() */
		       A.MEMBER_NO
		     , A.MEMBER_NAME
		     , A.MEMBER_ID
		     , A.MEMBER_PNO
		     , A.MEMBER_GENDER
		     , A.EMAIL
		     , A.ADDRESS
		     , A.PHONE
		     , A.SUB_PHONE
		     , A.MEMBER_POINT
		     , A.ENROLL_DATE
		     , A.MODIFIED_DATE
		     , A.CHECK_BLACKLIST
		     , A.MEMBER_STATUS
	      FROM MG_MEMBER A
		 WHERE A.MEMBER_STATUS = 'Y'
		   AND A.MEMBER_ID = ?  
	</entry>
	<!-- <entry key="selectMemberId">
	    SELECT
               A.MEMBER_ID
         FROM MG_MEMBER A
        WHERE A.MEMBER_NAME = ?
          AND A.PHONE = ?   
	</entry> -->
	<entry key="selectMemberId">
       SELECT
               A.MEMBER_ID
             , A.MEMBER_NAME
         FROM MG_MEMBER A
        WHERE A.MEMBER_NAME = ?
          AND A.PHONE = ?       
	</entry>
	<entry key="selectMemberName">
	  SELECT
               A.MEMBER_NAME
         FROM MG_MEMBER A
        WHERE A.MEMBER_ID = ?
	</entry>
	<entry key="findPwd">
	  SELECT 
	  	     A.MEMBER_NO
           , A.MEMBER_PWD
        FROM MG_MEMBER A
       WHERE A.MEMBER_ID = ?
         AND A.MEMBER_NAME= ?
         AND A.PHONE = ?
         AND A.EMAIL = ?
	</entry>
	<entry key="updatePwd">
        UPDATE
              MG_MEMBER A
            SET A.MEMBER_PWD = ?
          WHERE A.PHONE = ?
	</entry>
	<entry key="deleteMember">
        UPDATE 
               MG_MEMBER A
           SET A.MEMBER_STATUS = 'N'
         WHERE A.MEMBER_NO = ?
	</entry>
	<entry key="updateMember">
		UPDATE 
		       MG_MEMBER A
		   SET A.MEMBER_NAME=?
		     , A.PHONE= ?
		     , A.EMAIL = ?
		     , A.ADDRESS = ?
		 WHERE A.MEMBER_STATUS = 'Y'
		   AND A.MEMBER_NO = ?
	</entry>
	<entry key="changePwd">
        UPDATE
              MG_MEMBER A
            SET A.MEMBER_PWD = ?
          WHERE A.MEMBER_ID = ?
	</entry>
	<entry key="selectMemberInfo">
        SELECT 
               A.MEMBER_NO
             , A.MEMBER_NAME
             , A.MEMBER_ID
             , A.MEMBER_PNO
             , A.MEMBER_GENDER
             , A.EMAIL
             , A.ADDRESS
             , A.PHONE
             , A.SUB_PHONE
             , A.MEMBER_POINT
             , A.ENROLL_DATE
             , A.MODIFIED_DATE
             , A.CHECK_BLACKLIST
             , A.MEMBER_STATUS
        FROM MG_MEMBER A
       WHERE A.MEMBER_ID = ?
	</entry>
	<entry key="insertOrder">
        INSERT
          INTO MG_ORDER A
        (
          A.ORDER_NO
        , A.ORDER_MEMBER_NO
        , A.ORDER_TITLE
        , A.AMOUNT_PRICE
        )
        VALUES
        (
          SEQ_ORDER_NO.NEXTVAL
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="selectOrderNoSequence">
        SELECT
               SEQ_ORDER_NO.CURRVAL
          FROM DUAL    
	</entry>
	<entry key="insertOrderGoods">
        INSERT
          INTO MG_ORDER_GOODS A
        (
          A.ORDER_NO
        , A.GOODS_NO
        , A.AMOUNT_COUNT
        , A.ORDER_GOODS_PRICE
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="insertOrderDelivery">
        INSERT
          INTO MG_ORDER_DELIVERY A
        (
          A.DELIVERY_NO
        , A.ORDER_NO
        )
        VALUES
        (
          SEQ_ORDER_DELI_NO.NEXTVAL
        , ?
        )
	</entry>
	<entry key="selectOrderDeliveryNoSequence">
        SELECT
               SEQ_ORDER_DELI_NO.CURRVAL
          FROM DUAL  
	</entry>
	<entry key="insertOrderAddress">
        INSERT
          INTO MG_ORDER_ADDRESS A
        (
          A.ORDER_ADD_NO
        , A.DELIVERY_NO
        , A.ORDER_ADD_TYPE
        , A.RECIEVER_NAME
        , A.RECIEVER_PHONE
        , A.RECIEVER_ADDRESS
        , A.MEMBER_NO
        )
        VALUES
        (
          SEQ_ORDER_ADD_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="insertOrderPayment">
        INSERT
          INTO MG_PAYMENT A
        (
          A.PAYMENT_NO
        , A.PAYMENT_ORDER_NO
        , A.PAYMENT_MEMBER_NO
        , A.FINAL_PAYMENT_PRICE
        , A.USED_POINT
        )
        VALUES
        (
          SEQ_PAYMENT_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="selectOrderPaymentNoSequence">
        SELECT
               SEQ_PAYMENT_NO.CURRVAL
          FROM DUAL  
	</entry>
	<entry key="insertOrderPaymentDivision">
        INSERT
          INTO MG_PAYMENT_DIVISION A
        (
          A.DIVISION_NO
        , A.DIVISION_PAYMENT_NO
        , A.ADMISSION_PAYMENT_NUM
        )
        VALUES
        (
          SEQ_DIVISION_NO.NEXTVAL
        , ?
        , ?
        )
	</entry>
	<entry key="InsertMemberPoint">
        INSERT
          INTO MG_MEMBER_POINT A
        (
          A.POINT_NO
        , A.CHANGED_POINT_TYPE
        , A.PAYMENT_NO
        , A.MODIFY_POINT
        , A.MEMBER_NO
        )
        VALUES
        (
          SEQ_MEM_POINT_NO.NEXTVAL
        , '사용'
        , ?
        , ?
        , ?
        )
	</entry>
	<entry key="UpdateMemberInfo">
        UPDATE
               MG_MEMBER M
           SET M.MEMBER_POINT = ?
             , M.MODIFIED_DATE = SYSDATE 
         WHERE M.MEMBER_NO = ?
	</entry>
	<entry key="InsertMemberModify">
        INSERT
          INTO MG_MEMBER_MODIFY A
        (
          A.MODIFY_NO
        , A.ORIGIN_COLUMN
        , A.ORIGIN_INFO
        , A.MODIFY_INFO
        , A.MEMBER_NO
        )
        VALUES
        (
          SEQ_MEM_MODIFY_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        )
	</entry>
</properties>