
  .fakeimg {
    height: 200px;
    background: white;
  }
  .fakeimg1 {
    height: 200px;
    background:rgb(214, 211, 211);
    width: 300px;
  }
  .area1{
    height: 155px;
    width: 400px;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-right: 27px;
    border: 4px solid gray;
  
  }
  .abc{
  
    border:none;
  }
  .area2{
    height: 155px;
    width: 300px;
    float: left;
    margin-top: 20px;
    background-color: white;
    border: 4px solid gray;
  }
  #listArea{
      border: 4px;
      margin: 20px 0;
  }
  .t1{
      text-align: center;
  }

  /************************************/
  /*ν—¤λ”*/
.header_area{
  width: auto;
  height: 250px;
  
  background: lightgray;
  text-align: center;
  
}
/*ν‘Έν„°*/
.footer_area{
  width: auto;
  height: 150px;
  

  
  background: lightgray;
  text-align: center;
}
  
  .seeMoreBtn{
background: rgb(185 228 245);
    color: rgb(3, 3, 3) !important;
    margin-left: 0%;
    outline: 0;
    border: 0;
    border-radius: 5px;
  }
.h{
  font-size: 18px;
}
.chk1{
  width: 17px;
  height: 17px;
  margin-right: 5px;
  vertical-align: middle;
}