<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBasketInfo">	
        SELECT 
               A.MEMBER_NO
             , A.MEMBER_NAME
             , A.GOODS_NO
             , A.GOODS_NAME
             , A.GOODS_PRICE
             , A.THUMBNAIL_PATH
             , A.AMOUNT_COUNT
             , A.RESULT_MONEY
         FROM ( SELECT 
                       A.MEMBER_NO
                     , B.MEMBER_NAME
                     , A.GOODS_NO
                     , C.GOODS_NAME
                     , C.GOODS_PRICE
                     , A.AMOUNT_COUNT
                     , (C.GOODS_PRICE * A.AMOUNT_COUNT) "RESULT_MONEY"
                     , D.THUMBNAIL_PATH
                 FROM MG_BASKET A
                 JOIN MG_MEMBER B ON ( A.MEMBER_NO = B.MEMBER_NO)
                 JOIN MG_GOODS C ON (A.GOODS_NO = C.GOODS_NO)
                 JOIN MG_GOODS_ATTACHMENT D ON (C.GOODS_NO = D.REF_GOODS_NO)
                WHERE C.GOODS_STATUS = 'Y'
                  AND D.ATTACHMENT_STATUS = 'Y'
                  )A
   
         WHERE   A.GOODS_NO = ?
          AND  A.MEMBER_NO = ? 
	</entry>
</properties>