<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
   <entry key="selectTotalCount">
      SELECT /**/
             COUNT(*)
        FROM MG_QNA A
         WHERE A.QNA_DISPLAY = 'Y'
   </entry>
   <entry key="selectAllQuestionList">
       SELECT 
               A.RNUM
             , A.QNA_NO
             , A.QNA_STATUS
             , A.CATEGORY_CODE
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , A.MEMBER_ID
             , A.QNA_COUNT
             , A.CREATED_DATE
             , A.MODIFIED_DATE
             , A.QNA_DISPLAY
             , A.CATEGORY_NAME
        FROM (SELECT ROWNUM RNUM
                   , B.QNA_NO
                   , B.QNA_STATUS
                   , B.CATEGORY_CODE
                   , B.QNA_TITLE
                   , B.QNA_BODY
                   , B.QNA_WRITER_MEMBER_NO
                   , B.MEMBER_ID
                   , B.QNA_COUNT
                   , B.CREATED_DATE
                   , B.MODIFIED_DATE
                   , B.QNA_DISPLAY
                   , B.CATEGORY_NAME
              FROM (SELECT A.QNA_NO
                         , A.QNA_STATUS
                         , A.CATEGORY_CODE
                         , A.QNA_TITLE
                         , A.QNA_BODY
                         , A.QNA_WRITER_MEMBER_NO
                         , B.MEMBER_ID
                         , A.QNA_COUNT
                         , A.CREATED_DATE
                         , A.MODIFIED_DATE
                         , A.QNA_DISPLAY
                         , C.CATEGORY_NAME
                      FROM MG_QNA A
                      JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
                      JOIN MG_QNA_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)	   
                     WHERE A.QNA_DISPLAY = 'Y'
                           ORDER BY A.QNA_NO DESC
                          ) B
                    ) A
                    WHERE RNUM BETWEEN ? AND ? 
   </entry>
      <entry key="incrementQuestionCount">
        UPDATE
               MG_QNA A
           SET A.QNA_COUNT = (SELECT B.QNA_COUNT
                                   FROM MG_QNA B
                                  WHERE B.QNA_NO = ?
                                ) + 1
         WHERE A.QNA_NO = ?
   </entry>
   <entry key="selectQuestionDetail">
        SELECT
               A.QNA_NO
             , A.QNA_TITLE
             , A.QNA_BODY
             , A.QNA_WRITER_MEMBER_NO
             , B.MEMBER_ID
             , A.QNA_COUNT
             , A.CREATED_DATE
             , A.QNA_DISPLAY
             , C.ATTACHMENT_NO
             , C.ORIGINAL_NAME
             , C.SAVED_NAME
             , C.SAVE_PATH
             , C.FILE_TYPE
             , C.THUMBNAIL_PATH
          FROM MG_QNA A
          JOIN MG_MEMBER B ON (A.QNA_WRITER_MEMBER_NO = B.MEMBER_NO)
          LEFT JOIN MG_QNA_ATTACHMENT C ON (A.QNA_NO = C.REF_QNA_NO)
         WHERE A.QNA_DISPLAY = 'Y'
           AND A.QNA_NO = ?
   </entry>
      <entry key="insertQuestion">
        INSERT
          INTO MG_QNA A
        (
          A.QNA_NO
        , A.QNA_TITLE
        , A.QNA_BODY
        , A.QNA_WRITER_MEMBER_NO
     	, A.CATEGORY_CODE 
        )
        VALUES
        (
          SEQ_QNA_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ? 
        ) 
        
   </entry>
   <entry key="searchQueNameCount">
      SELECT
         COUNT(*)
       FROM MG_QNA A   
       JOIN MG_MEMBER C ON (A.QNA_WRITER_MEMBER_NO = C.MEMBER_NO)
      WHERE A.QNA_DISPLAY = 'Y'
        AND C.MEMBER_ID LIKE '%' || ? || '%'
   </entry>
   <entry key="searchQueTitleCount">
      SELECT
         COUNT(*)
      FROM MG_QNA A
      JOIN MG_MEMBER C ON (A.QNA_WRITER_MEMBER_NO = C.MEMBER_NO)
      WHERE A.QNA_DISPLAY = 'Y'
       AND A.QNA_TITLE LIKE '%' || ? || '%'
   </entry>
   <entry key="searchQueBodyCount">
      SELECT
         COUNT(*)
      FROM MG_QNA A
      JOIN MG_MEMBER C ON (A.QNA_WRITER_MEMBER_NO = C.MEMBER_NO)
      WHERE A.QNA_DISPLAY = 'Y'
       AND A.QNA_BODY LIKE '%' || ? || '%'
   </entry>
   <entry key="searchQueNameList">
        SELECT 
               D.RNUM 
             , D.QNA_NO
             , D.QNA_STATUS
             , D.CATEGORY_CODE
             , D.QNA_TITLE
             , D.QNA_BODY
             , D.QNA_WRITER_MEMBER_NO
             , D.MEMBER_ID
             , D.QNA_COUNT
             , D.CREATED_DATE
             , D.MODIFIED_DATE
             , D.QNA_DISPLAY
             
          FROM(SELECT
                      ROWNUM RNUM
                    , C.QNA_NO
                   , C.QNA_STATUS
                   , C.CATEGORY_CODE
                    , C.QNA_TITLE
                    , C.QNA_BODY
                   , C.QNA_WRITER_MEMBER_NO
                   , C.MEMBER_ID
                   , C.QNA_COUNT
                  , C.CREATED_DATE
                   , C.MODIFIED_DATE
                      , C.QNA_DISPLAY
                      
                 FROM( SELECT  A.QNA_NO
                         , A.QNA_STATUS
                         , A.CATEGORY_CODE
                            , A.QNA_TITLE
                          , A.QNA_BODY
                          , A.QNA_WRITER_MEMBER_NO
                            , B.MEMBER_ID
                          , A.QNA_COUNT
                           , A.CREATED_DATE
                         , A.MODIFIED_DATE
                            , A.QNA_DISPLAY
                        FROM MG_QNA A
                        JOIN MG_MEMBER B ON (B.MEMBER_NO = A.QNA_WRITER_MEMBER_NO)
                       WHERE A.QNA_DISPLAY = 'Y'
                         AND B.MEMBER_ID LIKE '%' || ? || '%'
                       ORDER BY A.QNA_NO DESC
                    ) C
                 )D
          WHERE D.RNUM BETWEEN ? AND ?
 </entry>
 <entry key="searchQueTitleList">
         SELECT 
               D.RNUM 
             , D.QNA_NO
             , D.QNA_STATUS
             , D.CATEGORY_CODE
             , D.QNA_TITLE
             , D.QNA_BODY
             , D.QNA_WRITER_MEMBER_NO
             , D.MEMBER_ID
             , D.QNA_COUNT
             , D.CREATED_DATE
             , D.MODIFIED_DATE
             , D.QNA_DISPLAY
             
          FROM(SELECT
                      ROWNUM RNUM
                    , C.QNA_NO
                   , C.QNA_STATUS
                   , C.CATEGORY_CODE
                    , C.QNA_TITLE
                    , C.QNA_BODY
                   , C.QNA_WRITER_MEMBER_NO
                   , C.MEMBER_ID
                   , C.QNA_COUNT
                  , C.CREATED_DATE
                   , C.MODIFIED_DATE
                      , C.QNA_DISPLAY
                      
                 FROM( SELECT  A.QNA_NO
                         , A.QNA_STATUS
                         , A.CATEGORY_CODE
                            , A.QNA_TITLE
                          , A.QNA_BODY
                          , A.QNA_WRITER_MEMBER_NO
                            , B.MEMBER_ID
                          , A.QNA_COUNT
                           , A.CREATED_DATE
                         , A.MODIFIED_DATE
                            , A.QNA_DISPLAY
                        FROM MG_QNA A
                        JOIN MG_MEMBER B ON (B.MEMBER_NO = A.QNA_WRITER_MEMBER_NO)
                       WHERE A.QNA_DISPLAY = 'Y'
                         AND A.QNA_TITLE LIKE '%' || ? || '%'
                       ORDER BY A.QNA_NO DESC
                    ) C
                 )D
          WHERE D.RNUM BETWEEN ? AND ?
 </entry>
 <entry key="searchQueBodyList">
         SELECT 
               D.RNUM 
             , D.QNA_NO
             , D.QNA_STATUS
             , D.CATEGORY_CODE
             , D.QNA_TITLE
             , D.QNA_BODY
             , D.QNA_WRITER_MEMBER_NO
             , D.MEMBER_ID
             , D.QNA_COUNT
             , D.CREATED_DATE
             , D.MODIFIED_DATE
             , D.QNA_DISPLAY
             
          FROM(SELECT
                      ROWNUM RNUM
                    , C.QNA_NO
                   , C.QNA_STATUS
                   , C.CATEGORY_CODE
                    , C.QNA_TITLE
                    , C.QNA_BODY
                   , C.QNA_WRITER_MEMBER_NO
                   , C.MEMBER_ID
                   , C.QNA_COUNT
                  , C.CREATED_DATE
                   , C.MODIFIED_DATE
                      , C.QNA_DISPLAY
                      
                 FROM( SELECT  A.QNA_NO
                         , A.QNA_STATUS
                         , A.CATEGORY_CODE
                            , A.QNA_TITLE
                          , A.QNA_BODY
                          , A.QNA_WRITER_MEMBER_NO
                            , B.MEMBER_ID
                          , A.QNA_COUNT
                           , A.CREATED_DATE
                         , A.MODIFIED_DATE
                            , A.QNA_DISPLAY
                        FROM MG_QNA A
                        JOIN MG_MEMBER B ON (B.MEMBER_NO = A.QNA_WRITER_MEMBER_NO)
                       WHERE A.QNA_DISPLAY = 'Y'
                         AND A.QNA_BODY   LIKE '%' || ? || '%'
                       ORDER BY A.QNA_NO DESC
                    ) C
                 )D
          WHERE D.RNUM BETWEEN ? AND ?
 </entry>
 <entry key="updateQuestion">
           UPDATE
               MG_QNA A
           SET A.QNA_TITLE = ?
             , A.QNA_BODY = ?
         WHERE A.QNA_NO = ?
           AND A.QNA_WRITER_MEMBER_NO = ?
   </entry>
   <entry key="deleteQuestion">
        UPDATE 
               MG_QNA A
           SET A.QNA_DISPLAY = 'N'
         WHERE A.QNA_NO = ?
   </entry>
</properties>