<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="incrementTransitCount">

	</entry>
	<entry key="selectTransitDetail">
        SELECT
               A.DELIVERY_NO
             , A.DELIVERY_TYPE
             , A.TRANSIT_NO
             , A.TRANSIT_DATE
             , B.ORDER_NO
             , B.ORDER_MEMBER_NO
             , B.ORDER_DATE
             , B.ORDER_TITLE
             , B.AMOUNT_PRICE
          FROM MG_ORDER_DELIVERY A
          JOIN MG_ORDER B ON (A.DELIVERY_NO = B.ORDER_NO)
         WHERE A.DELIVERY_NO = ?
	</entry>
	<entry key="selectTotalCount">
		SELECT /**/
		       COUNT(*)
		  FROM MG_ORDER_DELIVERY A
		 WHERE A.ORDER_NO = 1
	</entry>
	<entry key="selectTransitList">
       SELECT
             A.RNUM
           , A.DELIVERY_NO
           , A.DELIVERY_TYPE
           , A.TRANSIT_NO
           , A.TRANSIT_DATE
           , A.ORDER_NO
           , A.ORDER_MEMBER_NO
           , A.ORDER_DATE
           , A.ORDER_TITLE
           , A.AMOUNT_PRICE
      FROM (SELECT ROWNUM RNUM
                 , B.DELIVERY_NO
                 , B.DELIVERY_TYPE
                 , B.TRANSIT_NO
                 , B.TRANSIT_DATE
                 , B.ORDER_NO
                 , B.ORDER_MEMBER_NO
                 , B.ORDER_DATE
                 , B.ORDER_TITLE
                 , B.AMOUNT_PRICE
            FROM (SELECT A.DELIVERY_NO
                       , A.DELIVERY_TYPE
                       , A.TRANSIT_NO
                       , A.TRANSIT_DATE
                       , B.ORDER_NO
                       , B.ORDER_MEMBER_NO
                       , B.ORDER_DATE
                       , B.ORDER_TITLE
                       , B.AMOUNT_PRICE
                    FROM MG_ORDER_DELIVERY A
                    JOIN MG_ORDER B ON (A.ORDER_NO = B.ORDER_NO)
                ORDER BY A.DELIVERY_NO DESC
                 ) B
            ) A
            WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="updateTransit">
	        UPDATE
               MG_ORDER_DELIVERY A
           SET A.DELIVERY_TYPE = ?,
               A.TRANSIT_NO = ?
         WHERE A.DELIVERY_NO = ?
           AND A.TRANSIT_NO = ?
	</entry>
	<entry key="selectTransitSequence">
        SELECT
               SEQ_DELIVERY_NO.CURRVAL
          FROM DUAL    
	</entry>  
	<entry key="insertAttaNotice">
        INSERT
          INTO MG_NOTI_ATTACHMENT A
        (
          A.ATTACHMENT_NO
        , A.REF_NOTI_NO
        , A.ORIGINAL_NAME
        , A.SAVED_NAME
        , A.SAVE_PATH
        , A.FILE_TYPE
        , A.THUMBNAIL_PATH  
        )
        VALUES
        (
          SEQ_NOTI_ATTACHMENT_NO.NEXTVAL
        , ?
        , ?
        , ?
        , ?
        , ?
        , ?
        ) 
	</entry>
	<entry key="searchTypeCount">
        SELECT
               COUNT(*)
          FROM MG_ORDER_DELIVERY A
         WHERE A.DELIVERY_TYPE LIKE '%' || ? || '%'
	</entry>
	<entry key="searchTransitNoCount">
        SELECT
               COUNT(*)
          FROM MG_ORDER_DELIVERY A
         WHERE A.TRANSIT_NO LIKE '%' || ? || '%' 
	</entry>
	<entry key="searchOdNoCount"> 
        SELECT
               COUNT(*)
          FROM MG_ORDER A
         WHERE A.ORDER_NO LIKE '%' || ? || '%'
	</entry>
	<entry key="searchTransitListByType">
       SELECT
             A.RNUM
           , A.DELIVERY_NO
           , A.DELIVERY_TYPE
           , A.TRANSIT_NO
           , A.TRANSIT_DATE
           , A.ORDER_NO
           , A.ORDER_MEMBER_NO
           , A.ORDER_DATE
           , A.ORDER_TITLE
           , A.AMOUNT_PRICE
      FROM (SELECT ROWNUM RNUM
                 , B.DELIVERY_NO
                 , B.DELIVERY_TYPE
                 , B.TRANSIT_NO
                 , B.TRANSIT_DATE
                 , B.ORDER_NO
                 , B.ORDER_MEMBER_NO
                 , B.ORDER_DATE
                 , B.ORDER_TITLE
                 , B.AMOUNT_PRICE
            FROM (SELECT A.DELIVERY_NO
                       , A.DELIVERY_TYPE
                       , A.TRANSIT_NO
                       , A.TRANSIT_DATE
                       , B.ORDER_NO
                       , B.ORDER_MEMBER_NO
                       , B.ORDER_DATE
                       , B.ORDER_TITLE
                       , B.AMOUNT_PRICE
                    FROM MG_ORDER_DELIVERY A
                          JOIN MG_ORDER B ON (A.ORDER_NO = B.ORDER_NO)
                         WHERE A.DELIVERY_TYPE LIKE '%' || ? || '%'
                ORDER BY A.DELIVERY_NO DESC
                 ) B
            ) A
            WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchTransitListByTransitNo">
       SELECT
             A.RNUM
           , A.DELIVERY_NO
           , A.DELIVERY_TYPE
           , A.TRANSIT_NO
           , A.TRANSIT_DATE
           , A.ORDER_NO
           , A.ORDER_MEMBER_NO
           , A.ORDER_DATE
           , A.ORDER_TITLE
           , A.AMOUNT_PRICE
      FROM (SELECT ROWNUM RNUM
                 , B.DELIVERY_NO
                 , B.DELIVERY_TYPE
                 , B.TRANSIT_NO
                 , B.TRANSIT_DATE
                 , B.ORDER_NO
                 , B.ORDER_MEMBER_NO
                 , B.ORDER_DATE
                 , B.ORDER_TITLE
                 , B.AMOUNT_PRICE
            FROM (SELECT A.DELIVERY_NO
                       , A.DELIVERY_TYPE
                       , A.TRANSIT_NO
                       , A.TRANSIT_DATE
                       , B.ORDER_NO
                       , B.ORDER_MEMBER_NO
                       , B.ORDER_DATE
                       , B.ORDER_TITLE
                       , B.AMOUNT_PRICE
                    FROM MG_ORDER_DELIVERY A
                          JOIN MG_ORDER B ON (A.ORDER_NO = B.ORDER_NO)
                         WHERE A.TRANSIT_NO LIKE '%' || ? || '%'
                ORDER BY A.DELIVERY_NO DESC
                 ) B
            ) A
            WHERE RNUM BETWEEN ? AND ?
	</entry>
		<entry key="searchTransitListByOrderNo">
       SELECT
             A.RNUM
           , A.DELIVERY_NO
           , A.DELIVERY_TYPE
           , A.TRANSIT_NO
           , A.TRANSIT_DATE
           , A.ORDER_NO
           , A.ORDER_MEMBER_NO
           , A.ORDER_DATE
           , A.ORDER_TITLE
           , A.AMOUNT_PRICE
      FROM (SELECT ROWNUM RNUM
                 , B.DELIVERY_NO
                 , B.DELIVERY_TYPE
                 , B.TRANSIT_NO
                 , B.TRANSIT_DATE
                 , B.ORDER_NO
                 , B.ORDER_MEMBER_NO
                 , B.ORDER_DATE
                 , B.ORDER_TITLE
                 , B.AMOUNT_PRICE
            FROM (SELECT A.DELIVERY_NO
                       , A.DELIVERY_TYPE
                       , A.TRANSIT_NO
                       , A.TRANSIT_DATE
                       , B.ORDER_NO
                       , B.ORDER_MEMBER_NO
                       , B.ORDER_DATE
                       , B.ORDER_TITLE
                       , B.AMOUNT_PRICE
                    FROM MG_ORDER_DELIVERY A
                          JOIN MG_ORDER B ON (A.ORDER_NO = B.ORDER_NO)
                         WHERE A.ORDER_NO LIKE '%' || ? || '%'
                ORDER BY A.DELIVERY_NO DESC
                 ) B
            ) A
            WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>