<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllReviewList">
	   SELECT /*com.greedy.jsp.board.model.dao.ReviewDAO#selectAllReviewList()*/
	   	      A.REVIEW_NO
	   		, A.REVIEW_TITLE
	   		, A.REVIEW_BODY
	   		, A.REVIEW_WRITER_MEMBER_NO
	   		, A.REVIEW_COUNT
	   		, A.CREATED_DATE
	   		, A.MODIFIED_DATE
	   		, A.REVIEW_DISPLAY
	   		, A.REVIEW_ORDER_NO
	   	FROM MG_REVIEW A
	   	JOIN MG_MEMBER B ON (A.REVIEW_WRITER_MEMBER_NO = B.MEMBER_NO)
	  <!--  WHERE A.REVIEW_STATUS ='Y' -->
	   ORDER BY A.REVIEW_NO DESC		
</entry>
</properties>
