<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTotalCount">
        SELECT
                COUNT(*)
           FROM MG_REVIEW A
          WHERE A.REVIEW_DISPLAY = 'Y'    		
	</entry>
	<entry key="searchReviewList">
	SELECT /*com.greedy.jsp.customerservice.model.dao.ReviewDAO#selectAllReviewService()*/
	   	      A.REVIEW_NO
	   		, A.REVIEW_TITLE
	   		, A.REVIEW_BODY
	   		, A.REVIEW_WRITER_MEMBER_NO
	   		, A.REVIEW_COUNT
	   		, A.CREATED_DATE
	   		, A.MODIFIED_DATE
	   		, A.REVIEW_DISPLAY
	   		, A.REVIEW_ORDER_NO
	   	FROM MG_REVIEW A
	   	JOIN MG_MEMBER B ON (A.REVIEW_WRITER_MEMBER_NO = B.MEMBER_NO)
	   JOIN MG_ORDER C ON (A.REVIEW_ORDER_NO = C.ORDER_NO)
	  <!--  WHERE A.REVIEW_STATUS ='Y' -->
	   ORDER BY A.REVIEW_NO DESC	
	</entry>
	<entry key="selectAllReviewList">
	       SELECT 
               A.RNUM
             , A.REVIEW_NO
             , A.REVIEW_TITLE
             , A.REVIEW_BODY
             , A.REVIEW_WRITER_MEMBER_NO
             , A.MEMBER_NAME
             , A.REVIEW_COUNT
             , A.CREATED_DATE
             , A.MODIFIED_DATE
             , A.REVIEW_DISPLAY
             , A.REVIEW_ORDER_NO
        FROM (SELECT ROWNUM RNUM
                   , B.REVIEW_NO
                   , B.REVIEW_TITLE
                   , B.REVIEW_BODY
                   , B.REVIEW_WRITER_MEMBER_NO
                   , B.MEMBER_NAME
                   , B.REVIEW_COUNT
                   , B.CREATED_DATE
                   , B.MODIFIED_DATE
                   , B.REVIEW_DISPLAY
                   , B.REVIEW_ORDER_NO
              FROM (SELECT A.REVIEW_NO
                         , A.REVIEW_TITLE
                         , A.REVIEW_BODY
                         , A.REVIEW_WRITER_MEMBER_NO
                         , B.MEMBER_NAME
                         , A.REVIEW_COUNT
                         , A.CREATED_DATE
                         , A.MODIFIED_DATE
                         , A.REVIEW_DISPLAY
                         , A.REVIEW_ORDER_NO
                      FROM MG_REVIEW A
                      JOIN MG_MEMBER B ON (A.REVIEW_WRITER_MEMBER_NO = B.MEMBER_NO)
                     WHERE A.REVIEW_DISPLAY = 'Y'
                           ORDER BY A.REVIEW_NO DESC
                          ) B
                    ) A
                    WHERE RNUM BETWEEN ? AND ?  
</entry>
	<entry key="insertReview">
        INSERT INTO MG_REVIEW (REVIEW_ORDER_NO, REVIEW_NO, REVIEW_TITLE, REVIEW_BODY, REVIEW_WRITER_MEMBER_NO)
        VALUES(1, SEQ_REVIEW_NO.NEXTVAL, ?, ?, ?)
	</entry>
	<entry key="incrementReviewCount"> 
	      UPDATE
	            MG_REVIEW A 
	         SET A.REVIEW_COUNT = (SELECT B.REVIEW_COUNT
	         						  FROM MG_REVIEW B
	         						 WHERE B.REVIEW_NO = ?
	         						 ) +1
	     WHERE A.REVIEW_NO = ?	     
	</entry>
	<entry key="selectReviewDetail"> 
		  SELECT
           A.REVIEW_NO
            , A.REVIEW_TITLE
            , A.REVIEW_BODY
            , B.MEMBER_NAME
            , A.REVIEW_WRITER_MEMBER_NO
            , A.REVIEW_COUNT
            , A.CREATED_DATE
            , A.MODIFIED_DATE
            , A.REVIEW_DISPLAY
            , A.REVIEW_ORDER_NO
        FROM MG_REVIEW A
        JOIN MG_MEMBER B ON(A.REVIEW_WRITER_MEMBER_NO = B.MEMBER_NO)
       WHERE A.REVIEW_DISPLAY ='Y'
         AND A.REVIEW_NO = ?     		
	</entry>
	
	<entry key="searchWriterReviewCount">
        SELECT
               COUNT(*)
          FROM MG_BOARD A
          JOIN MG_MEMBER B ON(A.REVIEW_WRITER_MEMBER_NO = B.MEMBER_NO)
         WHERE A.REVIEW_STATUS = 'Y'
           AND B.NAME LIKE '%' || ? || '%'
	</entry>
	<entry key="searchTitleReviewCount">
        SELECT
               COUNT(*)
          FROM MG_REVIEW A
         WHERE A.REVIEW_STATUS = 'Y'
           AND A.REVIEW_TITLE LIKE '%' || ? || '%'	
	</entry>
	<entry key="searchContentReviewCount">
        SELECT
               COUNT(*)
          FROM MG_REVIEW A
         WHERE A.REVIEW_STATUS = 'Y'
           AND A.REVIEW_BODY LIKE '%' || ? || '%'	
	</entry>
	<entry key="searchWriterReviewList">
	      SELECT
            A.RNUM
          , A.REVIEW_NO
          , A.REVIEW_TITLE
          , A.REVIEW_BODY
          , A.REVIEW_WRITER_MEMBER_NO
          , A.MEMBER_NAME
          , A.REVIEW_COUNT
          , A.CREATED_DATE
          , A.MODIFIED_DATE
          , A.REVIEW_DISPLAY
          , A.REVIEW_ORDER_NO
      FROM( SELECT
                   ROWNUM RNUM
                 , B.REVIEW_NO
               , B.REVIEW_TITLE
                , B.REVIEW_BODY
                , B.REVIEW_WRITER_MEMBER_NO
                , B.MEMBER_NAME
                , B.REVIEW_COUNT
                , B.CREATED_DATE
                , B.MODIFIED_DATE
                , B.REVIEW_DISPLAY
                , B.REVIEW_ORDER_NO 
             FROM(SELECT 
                           C.REVIEW_NO
                        , C.REVIEW_TITLE
                         , C.REVIEW_BODY
                         , C.REVIEW_WRITER_MEMBER_NO
                         , D.MEMBER_NAME
                         , C.REVIEW_COUNT
                         , C.CREATED_DATE
                         , C.MODIFIED_DATE
                         , C.REVIEW_DISPLAY
                         , C.REVIEW_ORDER_NO   
                      FROM MG_REVIEW C
                      JOIN MG_MEMBER D ON(D.MEMBER_NO = C.REVIEW_WRITER_MEMBER_NO)                        
                     WHERE C.REVIEW_DISPLAY = 'Y'
                       AND D.MEMBER_NAME LIKE '%' || ? || '%'
                       ORDER BY C.REVIEW_NO DESC
                )B
             )A   
      WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchTitleReviewList">
		 SELECT
            A.RNUM
          , A.REVIEW_NO
          , A.REVIEW_TITLE
          , A.REVIEW_BODY
          , A.REVIEW_WRITER_MEMBER_NO
          , A.MEMBER_NAME
          , A.REVIEW_COUNT
          , A.CREATED_DATE
          , A.MODIFIED_DATE
          , A.REVIEW_DISPLAY
          , A.REVIEW_ORDER_NO
      FROM( SELECT
                   ROWNUM RNUM
                 , B.REVIEW_NO
               , B.REVIEW_TITLE
                , B.REVIEW_BODY
                , B.REVIEW_WRITER_MEMBER_NO
                , B.MEMBER_NAME
                , B.REVIEW_COUNT
                , B.CREATED_DATE
                , B.MODIFIED_DATE
                , B.REVIEW_DISPLAY
                , B.REVIEW_ORDER_NO 
             FROM(SELECT 
                           C.REVIEW_NO
                        , C.REVIEW_TITLE
                         , C.REVIEW_BODY
                         , C.REVIEW_WRITER_MEMBER_NO
                         , D.MEMBER_NAME
                         , C.REVIEW_COUNT
                         , C.CREATED_DATE
                         , C.MODIFIED_DATE
                         , C.REVIEW_DISPLAY
                         , C.REVIEW_ORDER_NO   
                      FROM MG_REVIEW C
                      JOIN MG_MEMBER D ON(D.MEMBER_NO = C.REVIEW_WRITER_MEMBER_NO)                        
                     WHERE C.REVIEW_DISPLAY = 'Y'
                       AND C.REVIEW_TITLE LIKE '%' || ? || '%'
                       ORDER BY C.REVIEW_NO DESC
                )B
             )A   
      WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="searchContentReviewList">
	 SELECT
            A.RNUM
          , A.REVIEW_NO
          , A.REVIEW_TITLE
          , A.REVIEW_BODY
          , A.REVIEW_WRITER_MEMBER_NO
          , A.MEMBER_NAME
          , A.REVIEW_COUNT
          , A.CREATED_DATE
          , A.MODIFIED_DATE
          , A.REVIEW_DISPLAY
          , A.REVIEW_ORDER_NO
      FROM( SELECT
                   ROWNUM RNUM
                 , B.REVIEW_NO
               , B.REVIEW_TITLE
                , B.REVIEW_BODY
                , B.REVIEW_WRITER_MEMBER_NO
                , B.MEMBER_NAME
                , B.REVIEW_COUNT
                , B.CREATED_DATE
                , B.MODIFIED_DATE
                , B.REVIEW_DISPLAY
                , B.REVIEW_ORDER_NO 
             FROM(SELECT 
                           C.REVIEW_NO
                        , C.REVIEW_TITLE
                         , C.REVIEW_BODY
                         , C.REVIEW_WRITER_MEMBER_NO
                         , D.MEMBER_NAME
                         , C.REVIEW_COUNT
                         , C.CREATED_DATE
                         , C.MODIFIED_DATE
                         , C.REVIEW_DISPLAY
                         , C.REVIEW_ORDER_NO   
                      FROM MG_REVIEW C
                      JOIN MG_MEMBER D ON(D.MEMBER_NO = C.REVIEW_WRITER_MEMBER_NO)                        
                     WHERE C.REVIEW_DISPLAY = 'Y'
                       AND C.REVIEW_BODY LIKE '%' || ? || '%'
                       ORDER BY C.REVIEW_NO DESC
                )B
             )A   
      WHERE A.RNUM BETWEEN ? AND ?
	</entry>
	<entry key="changeReview">
	 UPDATE
               MG_REVIEW A
           SET A.REVIEW_TITLE = ?
             , A.REVIEW_BODY = ?
          WHERE A.REVIEW_WRITER_MEMBER_NO = ?
            AND A.REVIEW_NO = ?
	</entry>
	<entry key="insertThumbnailContent">
		INSERT
        INTO MG_REVIEW A
      (
        A.REVIEW_NO
      , A.REVIEW_TITLE
      , A.REVIEW_BODY
      , A.REVIEW_WRITER_MEMBER_NO
      , A.REVIEW_ORDER_NO
      )
      VALUES
      (
        SEQ_REVIEW_NO.NEXTVAL
      , ?
      , ?
      , ?
      , 2
      )
	</entry>
	<entry key="selectThumbnailSequence">
		SELECT
		       SEQ_REVIEW_NO.CURRVAL
		  FROM DUAL       
	</entry>
	<entry key="insertAttachment">
		 INSERT
		 INTO MG_REV_ATTACHMENT A
		(
		  A.ATTACHMENT_NO
		, A.REF_REV_NO
		, A.ORIGINAL_NAME
		, A.SAVED_NAME
		, A.SAVE_PATH
		, A.FILE_TYPE
		, A.THUMBNAIL_PATH
		)
		VALUES
		(
		  SEQ_REV_ATTACHMENT_NO.NEXTVAL
		, ?
		, ?
		, ?
		, ?		
		, ?
		, ?
		)
	</entry>
	<entry key="selectReviewAttachment">
		SELECT
               A.ATTACHMENT_NO
             , A.REF_REV_NO
             , A.ORIGINAL_NAME
             , A.SAVED_NAME
             , A.SAVE_PATH
             , A.FILE_TYPE
             , A.THUMBNAIL_PATH
             , A.ATTACHMENT_STATUS
          FROM MG_REV_ATTACHMENT A
         WHERE A.REF_REV_NO = ? 
	</entry>
</properties>