<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectAllOrderList">	
        SELECT
               A.ORDER_ADD_NO
             , A.MEMBER_NO
             , B.ORDER_MEMBER_NO
             , B.ORDER_DATE
             , C.GOODS_NO
             , D.GOODS_NAME
             , C.AMOUNT_COUNT
             , D.GOODS_PRICE
             , C.ORDER_GOODS_PRICE
             , E.DELIVERY_TYPE
             , B.ORDER_TITLE
             , A.DELIVERY_NO
             , A.RECIEVER_NAME
             , A.RECIEVER_PHONE
             , A.RECIEVER_ADDRESS
         FROM MG_ORDER_ADDRESS A
         JOIN MG_ORDER_DELIVERY E ON (E.DELIVERY_NO = A.ORDER_ADD_NO)
         JOIN MG_ORDER B ON (E.ORDER_NO = B.ORDER_NO)
         JOIN MG_ORDER_GOODS C ON (C.ORDER_NO = B.ORDER_NO)
         JOIN MG_GOODS D ON (C.GOODS_NO = D.GOODS_NO)
        WHERE B.ORDER_MEMBER_NO = ?
	</entry> 
	<entry key="selectNewPoint">	 
       SELECT
      		A.MEMBER_POINT
            FROM MG_MEMBER A
      	WHERE A.MEMBER_NO = ?
	</entry>
</properties>